.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.home-header {
  position: relative;
  button {
    position: absolute;
    right: 0;
  }
}

.player-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .player-list-section {
    flex: 1;
    margin-bottom: 45px;
    .player-list-section-header {
      position: relative;
      top: 0;
      .player-list-section-header__left {
        position: absolute;
        left: 0;
      }
      button {
        position: absolute;
        right: 0;
      }
    }
  }
  .player-list-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.addPlayer__multi-value {
  margin: 0;
  &:nth-child(n + 2) {
    display: none;
  }
}

.addPlayer__value-container {
  padding: 0 0 0 2px !important;
}
.addPlayer__option--is-selected {
  background-color: black !important;
  color: white !important;
  border: 1px solid white;
}
// .addPlayer__option--is-focused {
//   background-color: gray !important;
//   color: black !important;
// }

$bg-shadow: 0 4px 2px -2px rgba(58, 58, 58, 0.301);
$bg-shadow: 0 -4px -2px 2px rgba(58, 58, 58, 0.301);
$bg-shadow-border: 0 0 0 1px hsla(0, 1%, 43%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
$overlay: hsla(0, 0%, 0%, 0.3);

$color: rgb(255, 187, 187);

.main-shadow {
  box-shadow: $bg-shadow;
}
.box-shadow {
  box-shadow: $bg-shadow-border;
}
.top-shadow {
  box-shadow: $bg-shadow-border;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: transparent;
  background-color: white;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #343a40;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 74, 74);
  cursor: pointer;
}


.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $overlay;
}

.modal-box {
  position: relative;
  top: 50%; 
  left: 50%; 
  right: 50%;
  border-radius: 4px;
  max-width: calc(100% - 16px);
  padding: 8px;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  background-color: white;
  z-index: 101;
}
